li {
    list-style: none;
}

/* 1 */
.container-1 {
    font-family: 'Times New Roman', Times, serif
}

.form-1 {
    border: solid 1px grey;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}

.form-1 label {
    display: block;
    font-weight: bold;
}

.form-1 input,
.form-1 select,
.form-1 textarea {
    outline: none;
    border: solid 0.5px grey;
    margin-top: 0.2em;
    padding: 2px;
}

.form-1 input:focus,
.form-1 select:focus,
.form-1 textarea:focus {
    box-shadow: 0px 0px 6px rgb(2, 174, 174);
    transition: box-shadow 0.5s;
}

.textarea-1 {
    min-height: 5em;
}

.btn-1 {
    border: solid 0.5px grey;
    background-color: rgb(3, 82, 113);
    color: white;
    width: 5em;
    height: 2em;
}

.btn-1:hover {
    cursor: pointer;
}

/* 2 */
.container-2 {
    margin-top: 10vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.5px grey;
    padding: 1em;
    width: 30%;
}

.title-2 > span {
    font-style: italic;
}

.divider-2 {
    width: 50%;
    border: solid grey 1px;
    background-color: grey;
    margin-top: 0.5em;
}

.form-2 {
    padding: 0;
}

.form-2 label {
    display: block;
	margin: 0px 0px 15px 0px;
}

.form-2 label > span {
    width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 6px;
}

.form-2 input,
.form-2 select {
    box-sizing: border-box;
    padding: 7px;
    outline: none;
}

.tel-2 input {
    width: 50px;
}

.require-2 {
    color: red;
}

.form-2 input,
.form-2 select,
.form-2 textarea {
    outline: none;
    border: solid grey 1px;
}


.form-2 input:focus,
.form-2 select:focus,
.form-2 textarea:focus {
    border: 1px solid green;
}

.btn-2 {
    color: white;
    background-color: orange;
    border-radius: 2px;
}

.btn-2:hover {
    cursor: pointer;
    background: #EA7B00;
}

/* 3 */
.container-3 {
    margin-top: 10vh;
}

.form-3 {
    width: 30%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.tag-3 {
    position: absolute;
}

.personal-3 {
    position: relative;
    background-color: rgb(252, 240, 242); 
    padding: 1em;
}

.personal-3 li {
    margin-top: 0.5em;
}

.personal-3 label {
    min-width: auto;
    display: block;
}

.form-3 label > span {
    float: left;
    width: 15%;
    margin-right: 3em;
    color: palevioletred;
}

.tag-3 {
    width: 4em;
    top: -1em;
    left: 1.5em;
    border: solid pink 0.5px;
    border-radius: 2px;
    border-bottom: none;
    padding: 2px;
    text-align: center;
    background-color: rgb(252, 240, 242);
    color: pink;
}

.personal-3 input,
.personal-3 select,
.msg-3 textarea {
    border: rgb(249, 195, 204) solid 2px;
    outline: none;
    background-color: rgb(250, 210, 216);
}

.msg-3 {
    padding: 1em;
    margin-top: 2em;
    position: relative;
    background-color: rgb(252, 240, 242);
    height: 6em;
}

.msg-3 label {
    display: block;
}

.msg-3 textarea {
    height: 4em;
    margin-bottom: 1em;
}

.btn-3 {
    outline: none;
    border: solid pink 1px;
    background-color: palevioletred;
    padding: 0.3em;
}

.btn-3:hover {
    cursor: pointer;
}

/* 4 */
.container-4 {
    margin-top: 10vh;
}

.form-4 {
    width: 30%;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(2, 44, 81);
    color: white;
    padding: 1em 0 1em 2em
}

.form-4 label {
    display: block;
    margin-top: 1em;
}



.form-4 label > span {
    float: left;
    width: 10em;
}

.form-4 label > input[type=text],
.form-4 label > textarea {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: dashed 1px white;
    width: 45%;
    caret-color: white;
    color: white;
}

.form-4 label > input[type=text]:focus,
.form-4 label > textarea:focus {
    border-bottom: dashed 1px greenyellow;
}

.form-4 textarea {
    padding: 0;
	overflow: hidden;
	resize:none;
	height:20px;
}

.btn-4 {
    outline: none;
    border: none;
    background-color: rgb(192, 205, 205);
    color: rgb(244, 242, 242);
    border-radius: 2px;
    padding: 0.4em;
}

.btn-4:hover {
    background-color: rgb(139, 148, 148);
    cursor: pointer;
}

/* 5 */
.form-5 {
    background-color: #e0e9ec;
    width: 25%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
}

.form-5 fieldset {
    padding: 1em;
    border: none;
    border-radius: 4px;
}

.form-5 legend {
    font-size: 1.5em;
}


.form-5 input[type=text],
.form-5 select,
.form-5 textarea {
    box-sizing: border-box;
    display: block;
    margin: 0 0 1.5em 0;
    background-color: rgb(242, 242, 242);
    outline: none;
    border: none;
    padding: 0.5em;
    border-radius: 2px;
    width: 100%;
}

.form-5 select {
    margin-top: 0.5em;
}

.form-5 input[type=text]:focus,
.form-5 select:focus,
.form-5 textarea:focus {
    background-color: gainsboro;
}

.number-5 {
    background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.btn-5 {
    height: 3em;
    box-sizing: border-box;
    display: block;
    margin: 0 0 1.5em 0;
    outline: none;
    border: none;
    padding: 0.5em;
    border-radius: 2px;
    width: 100%;
    background-color: #1abc9c;
}

.btn-5:hover {
    background-color: #159b80;
    cursor: pointer;
}

/* 6 */
.container-6 {
    margin-top: 10vh;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e0e9ec;
}

.header-6 {
    background-color: #1abc9c;
    padding: 0.2em;
    color: white;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.form-6 {
    padding: 0 1em 1em 1em;
    
    margin-top: 0;
}

.form-6 input {
    display: block;
}

.form-6 input[type=text],
.form-6 textarea {
    box-sizing: border-box;
    outline: none;
    border: solid grey 1px;
    width: 100%;
    margin: 1em 0 0 0;
    height: 2.5em;
    background-color: white;
    padding: 0.5em;
}

.form-6 textarea {
    height: 4em;
}

.form-6 input[type=text]:focus,
.form-6 textarea:focus {
    box-shadow: 0 0 6px #20e4bd;
    transition: box-shadow 0.25s;
}

.btn-6 {
    color: white;
    box-sizing: border-box;
    outline: none;
    border: none;
    width: 100%;
    margin: 1em 0 0 0;
    height: 2.5em;
    background-color: #1abc9c
}

.btn-6:hover {
    background-color: #19b192;
    cursor: pointer;
}

/* 7 */
.container-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
}

.form-7 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-7 fieldset {
    border: lightslategray solid 1px;
    margin-bottom: 1em;
    padding: 0;
    border-radius: 2px;
    width: 100%;
}

.form-7 legend {
    color: lightslategrey;
    margin-left: 1em;
}

.form-7 input,
.form-7 textarea {
    display: block;
    width: 100%;
    height: 2em;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.form-7 textarea {
    resize: none;
    overflow: hidden;
}

.prompt-7 {
    background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -0.05em;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.5em;
}

.btn-7 {
    background-color: #2471FF;
    color: white;
    box-shadow: 0 2px 1px rgb(102, 156, 190);
    outline: none;
    border: none;
    border-bottom: 2px solid #5994FF;
    border-radius: 2px;
    width: 30%;
    height: 2em;
}

/* 8 */
.container-8 {
    margin-top: 10vh;
    box-shadow: 0 0 6px lightslategray;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.container-8 > h3 {
    background-color: #4D4D4D;
    color: grey;
    padding: 1em;
}

.form-8 {
    padding: 0.5em 1em 1em 1em;
}

.container-8 input[type=text],
.container-8 textarea {
    box-sizing: border-box;
    display: block;
    height: 2em;
    width: 100%;
    margin-bottom: 1em;
    border: none;
    outline: none;
    border-bottom: solid lightgrey 1px;
    padding: 0 0 1em 0.5em;
}

.container-8 textarea {
    resize: none;
    overflow: hidden;
}

.container-8 input[type=submit] {
    background-color: #2CBBBB;
    color: white;
    width: 30%;
    margin-left: 0;
    font-size: 0.6em;
    text-align: center;
    border: none;
    outline: none;
    padding: 1em;
    border-radius: 2px;
}

.container-8 input[type=submit]:hover {
    cursor: pointer;
    background-color: #37e9e9;
}

/* 9 */
.container-9 {
    margin-top: 10vh;
}


.form-9 {
    width: 30%;
    height: 30vh;
    border: solid darkcyan 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1em;
}

.wide-9 {
    grid-column: span 2;
}

.form-9 textarea {
    grid-column: span 2;
    grid-row: 4 / span 3;
}

.form-9 input[type=text],
.form-9 textarea {
    outline: none;
    border: solid lightseagreen 1px;
    padding-left: 0.5em;
}

.form-9 input[type=text]:focus,
.form-9 textarea:focus {
    box-shadow: 0 0 4px lightseagreen;
    transition: all 0.5s;
}


.form-9 input::placeholder,
.form-9 textarea::placeholder {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

.btn-9 {
    background-color: darkcyan;
    color: white;
    font-size: 0.7em;
    width: 50%;
    outline: none;
    border: none;
    padding: 0.5em 1em;
    border-radius: 2px;
}

.btn-9:hover {
    background-color: rgb(2, 202, 202);
    cursor: pointer;
}